@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffde00;
}
.about-text{
    font-size: 40px;
    margin: 0 250px;
    font-family: 'Inter';
    text-align: center;
}
