

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.logo{
    display: block;
    position: fixed;
    justify-content: right;
    
}
.navbar{
    height: 12%;
    width: 100%;
    position: fixed;
    z-index: 5;
    display: flex;
    align-items: center;
    background-color: #ffde00;
    border-radius:300px;
    bottom: 40px;
    background: linear-gradient(to top left,#d2001a,#ffde00,#efefef);
    animation: gradient 10s infinite alternate;

}

.nav-item ul{
list-style: none;
margin-left: 530px;
}
.nav-item ul li{
    display: inline;
    margin: 14px;
}
.nav-item ul li a{
    text-decoration: none;
    color:#000000;
    font-size: 20px;
    font-family: "Inter";
    font-weight: 500;
    transition: 0.5s;
}
.nav-item ul li a:hover{
    text-decoration: none;
    color: #d2001a;
    font-size: 20px;
    font-family:"Inter";
    transition: all;
}

.b-m{
background-color: #efefef;
}
.foto{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    animation: bounce 0.8s infinite alternate   ;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: #d2001a;
}
.text{
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-size: 30px;
    margin-top: 0;
    text-align:center ;
}

.text-1{
    display: flex;
    padding-bottom: 20px;
    margin-left: 210px;
    margin-right:210px;
    color: #000000;
    color: #d2001a;
}

.text-2{
    margin-left:230px;
    margin-right: 230px;
}

.text-2 a{
    list-style: none;
    text-decoration: none;
    font-size: 40px;
    color:#d2001a;
    }

.btn-paket{
    display: flex;
    justify-content: center;
    align-items:center ;
}
            .btn-paket ul{
                list-style: none;
            }

            .btn-paket ul li{
                background-color:#d2001a;
                border: none;
                border-radius: 16px;
                color: #efefef;
                padding: 8px 0;
                margin-top: 8px;
                margin-bottom: 12px;
                transition: 1s;
                }
                .btn-paket ul li:hover{
                    background-color:#ffde00;
                    border: none;
                    border-radius: 16px;
                    color: #efefef;
                    padding: 8px 0;
                    margin-top: 8px;
                    margin-bottom: 12px;

                    }

                .btn-paket ul li a{
                text-decoration: none;
                font-family:'inter';     
                color: #ffde00;
                transition: 1.5s;
                font-weight: 500;
                }
                .btn-paket ul li a:hover{
                    text-decoration: none;
                    font-family:'Inter';
                    color: #d2001a;
                    font-weight: 900;
                    }
        @keyframes bounce{ 
            from{
            transform:translateY(20px)  ;transform: scaleX(1);
            }to{
            transform: translateY(-40px);
            }
        }
    
        